services:
  app:
    image: 'loxx'
    build:
      context: .
    container_name: app
    ports:
      - "8080:8081"
    depends_on:
      - dbscrum
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://dbscrum:5432/manage-database
      - SERVER_PORT=8081

  dbscrum:
    image: 'postgres:17'
    container_name: dbscrum
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
      - POSTGRES_DB=manage-database
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
